:root {
  --primary: #679755;
  --secondary: #a169bf ;
  --links: #C6493A;
  --light: #F6F4F9;
  --dark: #1c1e26;
}

html {
  font-size: 1vw;
}

@font-face {
  font-family: 'RegularFont';
  src: url('fonts/FiraCode_400Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LightFont';
  src: url('fonts/FiraCode_300Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MediumFont';
  src: url('fonts/FiraCode_500Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BoldFont';
  src: url('fonts/FiraCode_700Bold.ttf') format('truetype');
}

.fa-std {
  font-family: 'RegularFont', monospace;
}

.fa-bold {
  font-family: 'BoldFont', monospace;
  font-weight: bold;
}

body {
  color: var(--light);
  font-family: 'RegularFont', monospace;
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.container-xxl {
  margin: auto;
  width: 60%;
  min-width: 300px;
}

.mb-0{
  margin-bottom: 0px;
}

.mt-0{
  margin-top: 0px;
}

.mt-10{
  margin-top: 20px;
}

.mt-5px {
  margin-top: 5px;
}

.mb-5px {
  margin-bottom: 5px;
}

.links_holder {
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--secondary);
  font-weight: lighter;
  text-decoration: none;
}

.underline_primary {
  text-decoration: underline var(--primary);
  /* You can also adjust the space using the `text-underline-offset` property */
  text-underline-offset: 10%; /* Adjust this value as needed */
}

.underline_secondary {
  text-decoration: underline var(--secondary);
  text-decoration-skip-ink: auto;
  /* You can also adjust the space using the `text-underline-offset` property */
  text-underline-offset: 10%; /* Adjust this value as needed */
}

.underline_links {
  text-decoration: underline var(--links);
   text-underline-offset:10%;
}

.ml-tab {
  margin-left: 5%;
}


/* Media query for screens with a maximum width of 767px (small screens) */
@media screen and (max-width: 767px) {
  .container-xxl {
    width: 100%;
  }

  /* Scale font size to the viewport width (vw) */
  body {
    font-size: 4vw;
  }

  .links_holder {
    display: flex;
    justify-content: space-between;
  }

  .link {
    color: var(--secondary);
    font-weight: lighter;
    text-decoration: none;
  }
}
